

<div id="book">
	<div class="cover"><h1>The Bible</h1></div>
	<div class="data even">but it takes time</div>
	<div class="data odd">
		<%= image_tag "nemo.jpg", class: "ret" %>
	</div>
	<div class="data">you guessed it right</div>
	<div class="data">hmmm your wrong
<div>asdasdas</div>
	</div>

</div>

<div id="controls">
	<label for="page-number">Page:</label> <input type="text" size="3" id="page-number"> of <span id="number-pages"></span>
</div>